mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    img.logo {
        margin-right: 20px;
        max-height: 100%;
        width: auto;
    }

    .spacer {
        flex: 1;
    }
}
.primary-color {
  background-color: rgba(103,58,183, 0.8);
  color: white;
}
